# Ejercicio 2: Modelo Vectorial y TF-IDF 
Nombre: Marcela Cabrera

In [6]:

from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
import nltk


ruta = "/kaggle/input/01-corpus-turismo-500-txt/01_corpus_turismo_500.txt"

with open(ruta, "r", encoding="utf-8") as f:
    documentos = f.readlines()

# Crear el vectorizador 
vectorizador = TfidfVectorizer(
    lowercase=True,
    ngram_range=(1,1)
)

# Calcular la matriz TF-IDF
tfidf_matriz = vectorizador.fit_transform(documentos)

#  Convertir a DataFrame
tfidf_df = pd.DataFrame(
    tfidf_matriz.toarray(),
    columns=vectorizador.get_feature_names_out()
)

print("✅ Matriz TF-IDF generada correctamente")
tfidf_df.head()

✅ Matriz TF-IDF generada correctamente

,2000,agua,amazonía,arquitectura,artesanía,atrae,atraen,auténtico,aventura,aves,...,típica,un,una,vida,vilcabamba,visitan,visitantes,visitar,volcán,única
0,0.0,0.0,0.0,0.0,0.341664,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.000000,0.352958,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.240057,0.0,0.352958,0.0,0.282204,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.175574,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.229707,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0